<% provide(:title, 'Forgot Password') %>
<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<h1>Forgot Password</h1>
<div class="form forgot-password">
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= button_tag type: 'submit', class: 'btn', name: 'commit' do %>
      <%= icon('paper-plane', 'Send Email') %>
    <% end %>
  <% end %>
</div>
