<% provide(:title, 'Forgot Password') %>
<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<section class="users">
  <h1>Forgot Password</h1>
  <fieldset class="form">
    <legend>Password Reset Form</legend>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= button_tag type: 'submit', class: 'btn', name: 'commit' do %>
        <%= icon('envelope fa-fw', 'Send Email') %>
      <% end %>
    <% end %>
  </fieldset>
</section>
