<% provide(:title, @context.title) %>
<% content_for :navigation do %>
  <%= render 'topics/topics_nav' %>
<% end %>

<article class="forum topic">
  <header class="title">
    <h1>
      <%= icon('thumb-tack fa-fw') if @context.sticky? %>
      <%= @context.title %>
    </h1>
    <div class="author">
      By <strong><%= @context.user.name %> </strong>
      <%= @context.created_at.strftime('at %-I:%M %p on %A %d %b %Y') %>
      <span class="pull-right">
        <%= link_to(icon('edit', 'Edit'),
        edit_topic_path(@context)) if current_user?(@context.user) %>
      </span>
    </div>
    <div class="stats">
      Viewed <%= pluralize(@context.view_count, 'time') %>.
      <% if @comments.any? %>
        Last comment <%= time_ago_in_words(@comments.last.created_at) %> ago
        by <%= @comments.last.user.name %>.
      <% else %>
        No comments.
      <% end %>
      <span class="pull-right">
        <%= pluralize(@comments.size, 'comment') %>.
      </span>
    </div>
  </header>
  <%= render(partial: 'comment',
             collection: @comments,
             locals: { topic: @context }) %>
  <% if logged_in? %>
  <section class="forum comment">
    <%= render partial: 'comment_form',
               locals: { context: @context,
               comment: @context.comments.build,
               button_caption: 'Submit Comment' } %>
  <% end %>
</section>
  <%= will_paginate %>
</article>
