<section class="item">
  <div>
    <h2>
      <%= icon('thumb-tack fa-fw') if topic.sticky? %>
      <%= link_to(topic.title, topic_path(topic)) %>
    </h2>
    (<%= topic.user.name %>)
    <span class="pull-right"><strong>[<%= topic_level(topic) %>]</strong></span>
  </div>
  <div>
    Started on <%= topic.created_at.strftime('%-d %b %Y') %>
  </div>
  <div>
  <% if topic.comments.size > 1 %>
    <%= pluralize(topic.comments.size, 'reply') %>,
    last reply <%= time_ago_in_words(topic.comments.first.created_at) %> ago
    by <%= topic.comments.first.user.name %>.
  <% else %>
    No replies.
  <% end %>
    <span class="pull-right">
      <%= pluralize(topic.view_count, 'view') %>
    </span>
  </div>
</section>
