<% provide(:title, @topic.title) %>
<% content_for :navigation do %>
  <%= render 'topics/topics_nav' %>
<% end %>

<article>
  <header class="index">
    <h1>
      <%= icon('thumb-tack fa-fw') if @topic.sticky? %>
      <%= @topic.title %>
      <span class="pull-right">[<%= topic_level(@topic) %>]</span>
    </h1>
    <div class="author">
      Started by <strong><%= @topic.user.name %></strong>
      <%= @topic.created_at.strftime('on %A %-d %b %Y at %-I:%M %p') %>
      <span class="pull-right">
        <%= link_to(icon('edit', 'Edit'),
        edit_topic_path(@topic)) if current_user?(@topic.user) %>
      </span>
    </div>
    <div class="stats">
      <% if @comments.size > 1 %>
        <%= pluralize(@comments.size - 1, 'reply') %>,
        last comment <%= time_ago_in_words(@comments.last.created_at) %> ago
        by <%= @comments.last.user.name %>.
      <% else %>
        No replies.
      <% end %>
      <span class="pull-right">
        <%= pluralize(@topic.view_count, 'view') %>
      </span>
    </div>
  </header>
  <section class="comments">
    <%= render(partial: 'shared/comment',
               collection: @comments,
               locals: { topic: @topic }) %>
    <%= will_paginate @comments %>
    <% if logged_in? %>
      <%= render partial: 'shared/comment_form',
                 locals: { context: @topic,
                           comment: @topic.comments.build } %>
    <% end %>
  </section>
</article>
