<% provide(:title, "User Settings") %>
<% content_for :navigation do %>
  <%= render 'users/users_nav' %>
<% end %>

<section class="users">
  <h1><%= @user.name %>'s settings</h1>
  <fieldset class="form">
    <legend>Edit User Form</legend>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :timezone %>
      <%= f.time_zone_select :timezone, nil, default: Time.zone.name %>

      <%= button_tag(type: 'submit', class: 'btn', name: 'commit') do %>
        <%= icon('save fa-fw', 'Save Changes') %>
      <% end %>
    <% end %>
  </fieldset>
</section>
