<% provide(:title, "#{@user.name}'s Profile".html_safe) %>
<% content_for :navigation do %>
  <% render 'users/users_nav' %>
<% end %>

<section class="users">
  <h1><%= @user.name %></h1>
  <span class="pull-right edit">
    <%= link_to(icon('edit', 'Edit'),
                edit_user_path(@user)) if current_user?(@user) %>
  </span>
  <ul>
    <li><%= @user.email %></li>
    <li>Member since <%= @user.created_at.strftime('%F') %></li>
    <li>Last login: <%# @user.last_login %></li>
    <li>Account Level: <%= @user.level %></li>
    <li>Timezone: <%= @user.timezone %></li>
  </ul>
</section>
