<section class="log">
  <header>
    <h2>
      <%= link_to(log.title, log_path(log)) %>
    </h2>
    (<%= log.user.name %>)
    <%= show_time_stamp(log.created_at) %>
    <span class="pull-right"><strong>[<%= topic_level(log) %>]</strong></span>
  </header>
  <%= log.description %>
  <div class="stats">
    Viewed <%= pluralize(log.view_count, 'time') %>.
    <% if log.comments.any? %>
      Last comment <%= time_ago_in_words(log.comments.first.created_at) %> ago
      by <%= log.comments.first.user.name %>.
    <% end %>
    <span class="pull-right">
      <%= pluralize(log.comments.size, 'comment') %>.
    </span>
  </div>
</section>
