<section class="log">
  <div>
    <h2><%= link_to(log.title, log_path(log)) %></h2> (<%= log.user.name %>)
    <span class="pull-right"><strong>[<%= topic_level(log) %>]</strong></span>
  </div>
  <div>
    Submitted on <%= log.created_at.strftime('%-d %b %Y') %>
  </div>
  <div>
    <%= log.description %>
  </div>
  <div>
    <% if log.comments.any? %>
      Last comment <%= time_ago_in_words(log.comments.first.created_at) %> ago
      by <%= log.comments.last.user.name %>.
    <% else %>
      No comments.
    <% end %>
    <span class="pull-right">
      <%= pluralize(log.view_count, 'view') %>,
      <%= pluralize(log.comments.size, 'comment') %>
    </span>
  </div>
</section>
