<section class="log">
  <h2>
    <%# bsc_only(log.bsc?) %>
    <%= link_to(log.title, log_path(log)) %>
  </h2>
  <span class="pull-right">
    <%# link_to(icon('edit', 'Edit'),
    edit_topic_path(topic)) if current_user?(topic.user) %>
  </span>
  <div class="author">
    By <strong><%= log.user.name %> </strong>
    <%= log.created_at.strftime('%d %b %Y') %>
  </div>
  <div class="stats">
    Viewed <%= pluralize(log.view_count, 'time') %>.
    <% if log.comments.any? %>
      Last comment <%= time_ago_in_words(topic.comments.first.created_at) %> ago
      by <%= topic.comments.first.user.name %>.
    <% end %>
    <span class="pull-right">
      <%= pluralize(log.comments.size, 'comment') %>.
    </span>
  </div>
</section>
