<section class="log">
  <header>
    <h2>
      <%# bsc_only(log.bsc?) %>
      <%= link_to(log.title, log_path(log)) %>
    </h2>
    (<%= log.user.name %>)
    <time class="pull-right", datetime="<%= log.created_at.strftime('%F') %>">
      <%= log.created_at.strftime('%-d %b %Y') %>
    </time>
  </header>
  <%= log.description %>
  <div class="stats">
    Viewed <%= pluralize(log.view_count, 'time') %>.
    <% if log.comments.any? %>
      Last comment <%= time_ago_in_words(topic.comments.first.created_at) %> ago
      by <%= topic.comments.first.user.name %>.
    <% end %>
    <span class="pull-right">
      <%= pluralize(log.comments.size, 'comment') %>.
    </span>
  </div>
</section>
