<% provide(:title, 'Edit Log') %>
<% content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<div class="log box">
  <h1>Edit: <%= @log.title %></h1>

  <div class="form">
    <%= form_for @log do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= button_tag type: 'submit', class: 'btn', name: 'commit' do %>
        Upload your log!
      <% end %>
    <% end %>
  </div>
</div>
