<% provide(:title, 'Post a Log') %>
<%= content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<section class="log box">
  <h1>Upload a Log</h1>
  <p>
    If you want your comments marked up or styled, please use the '#'
    character at the beginning of the line.
  </p>
  <br />
  <fieldset class="form">
    <legend>New Log Form</legend>
    <%= form_for @log do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <% if current_user.bsc? %>
        <%= f.label :level, 'Log Visibility:' %>
        <%= f.select :level, [['For Everyone to View/Comment', 'all_users'],
                              ['For BSC Members Only', 'bsc']] %>
      <% end %>

      <%= f.label :log_file, 'Log file' %>
      <%= f.file_field :log_file %>

      <%= button_tag type: 'submit', class: 'btn', name: 'commit' do %>
        <%= icon('upload fa-fw', 'Upload your log!') %>
      <% end %>
    <% end %>
  </fieldset>
</section>
