<% provide(:title, @log.title) %>
<%= content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<article class="log box">
    <h1><%= @log.title %></h1>
    <span class="pull-right">
      <%= link_to(icon('edit', 'Edit'),
                  edit_log_path(@log)) if current_user?(@log.user) %>
    </span>
  <div class="author">
    Posted by <strong><%= @log.user.name %></strong> on
    <%= show_time_stamp @log.created_at %>
  </div>
  Description: <%= @log.description %>
  <hr />
  <pre>
    <%= @log_text %>
  </pre>
</article>
