<% provide(:title, @log.title) %>
<%= content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<article>
  <section class="log box">
    <h1><%= @log.title %></h1>
    <span class="pull-right">
      <%= link_to(icon('edit', 'Edit'),
                  edit_log_path(@log)) if current_user?(@log.user) %>
    </span>
    <div class="author">
      Posted by <strong><%= @log.user.name %></strong> on
      <%= show_time_stamp @log.created_at %>
    </div>
    Description: <%= @log.description %>
    <hr />
    <pre>
      <% @log_text.each_line do |line| %>
<%= colorize(line) -%>
      <% end %>
      <% @log_text.close %>
    </pre>
  </section>
  <% if @comments.any? %>
      <%= render partial: 'shared/comment',
                 collection: @comments %>
  <% end %>
  <%= will_paginate @comments %>
  <% if logged_in? %>
  <div class="forum comment">
    <%= render partial: 'shared/comment_form',
               locals: { context: @log,
                         comment: @log.comments.build,
                         button_caption: 'Post Comment' } %>
    </div>
  <% end %>
</article>
