<% provide(:title, @log.title) %>
<%= content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<div class="log box">
    <h1><%= @log.title %></h1>
  <div class="author">
    Posted by <strong><%= @log.user.name %></strong> on
    <time datetime="<%= @log.created_at.strftime('%F') %>">
      <%= @log.created_at.strftime('%-d %b %Y') %>
    </time>
  </div>
  Description: <%= @log.description %>
  <hr />
  <pre>
    <%= @log_text %>
  </pre>
</div>
