<% provide(:title, @log.title) %>
<% content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<article>
  <section class="log box">
    <h1>
      <%= @log.title %>
      <span class="pull-right">[<%= topic_level(@log) %>]</span>
    </h1>
    <span class="pull-right">
      <%= link_to(icon('edit', 'Edit'),
                  edit_log_path(@log)) if current_user?(@log.user) %>
    </span>
    <div>
      Submitted by <strong><%= @log.user.name %></strong> on
      <%= @log.created_at.strftime('%A %-d %b %Y at %l:%m %p') %>
    </div>
    <div>
      <% if @comments.any? %>
        Last comment <%= time_ago_in_words(@comments.last.created_at) %> ago
        by <%= @comments.last.user.name %>.
      <% else %>
        No comments.
      <% end %>
      <span class="pull-right">
        <%= pluralize(@log.view_count, 'view') %>,
        <%= pluralize(@comments.size, 'comment') %>
      </span>
    </div>
    <hr />
    <%= @log.description %>
    <hr />
    <pre>
<% @log_text.each do |line| %>
<%= colorize(line).html_safe -%>
<% end %>
    </pre>
  </section>
  <% if @comments.any? %>
      <%= render partial: 'shared/comment',
                 collection: @comments %>
  <% end %>
  <%= will_paginate @comments %>

  <% if logged_in? %>
  <div class="forum comment">
    <%= render partial: 'shared/comment_form',
               locals: { context: @log,
                         comment: @log.comments.build,
                         button_caption: 'Post Comment' } %>
  </div>
  <% end %>
</article>
